{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="container-flex">
            <div class="menu-tech">
                <h3>Technologies</h3>
                <ul>
                {% for page in pages("technologies")|sort_by("time")|reverse if not page.hidden %} 
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    <!-- <p class="date">{{ page.date_formatted }}</p> -->
                    <!-- <p class="excerpt">{{ page.description }}</p> -->
                {% endfor %}
                </ul>
            </div>
            <div class="content-text">
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
